<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'customers:index'%}">Trash Collector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'customers:index'%}">Home</a>
        <a class="nav-link" href="{% url 'customers:registercustomer'%}">Register</a>
        <a class="nav-link" href="{% url 'customers:setpickup'%}">Set pickup</a>
        <a class="nav-link" href="{% url 'customers:requestapickup'%}">One time pickup</a>
        <a class="nav-link" href="{% url 'customers:suspendpickup'%}">Suspend services</a>
        <a class="nav-link" href="{% url 'customers:accountinfo'%}">Account info</a>
      </div>
    </div>
  </div>
</nav>
    {% elif group.name == "Employees" %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'customers:index'%}">Trash Collector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'customers:index'%}">Home</a>
        <a class="nav-link" href="{% url 'customers:setpickup'%}">Set pickup</a>
        <a class="nav-link" href="{% url 'customers:requestapickup'%}">One time pickup</a>
        <a class="nav-link" href="{% url 'customers:suspendpickup'%}">Suspend services</a>
        <a class="nav-link" href="{% url 'customers:accountinfo'%}">Account info</a>
      </div>
    </div>
  </div>
</nav>
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}