{% extends 'base.html' %}

{% block title %} Daily View {% endblock %}

{% block header %} Daily View {% endblock %}

{% block content %}
{% if user.is_authenticated %}

Hello Employee {{ user.username }}!<br>

Following are the customers you needs pickup service today!
<br>
<table>
{% for customer in customers %}
<tr>
    <td class="text-center">{{ customer.id }}</td>
    <td class="text-center">{{ customer.name }}</td>
    <td><button type="submit" value={{customer.id}} onclick="location.href='/employees/dailyview/?id={{customer.id}}'" name='mybtn2'>Confirm</button></td>
</tr>
{% endfor %}
</table>
{%endif%}
{% endblock %}
