{% extends 'base.html' %}
{% block title %} Request a Pickup {% endblock %}

{% block header %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'customers:index'%}">Trash Collector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'customers:index'%}">Home</a>
        <a class="nav-link" href="{% url 'customers:requestpickup'%}">Request Pickup</a>
        <a class="nav-link" href="{% url 'customers:suspendpickup'%}">Suspend services</a>
      </div>
    </div>
  </div>
</nav>
    Hello Customer {{ user.username }}!
  <p>Please select your requested pick-up date.</p>
  <form action="{% url 'customers:requestpickup'%}" method ="post">
      {% csrf_token %}
      Please select day of the week:<input type="text" name ="name" id="name"><input type="submit" value="Submit">
  </form>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}